* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background-image: url('../icon/back.png');
  background-size: cover
}



#webcam {
  width: 768px; 
  height: 512px; 
  transform: scale(0.5);
  background-color: #494949; /* 設置背景顏色 */
}


#canvas{
  width: 768px; /* 設置寬度 這邊要問歐文 相機的尺寸是多少 才不會壓縮 */  
  height: 512px; /* 設置高度 */
  transform: scale(0.5);
  /* transform: translate(-50%, -50%); */
}

#capture_button {
  position: absolute;
  top: 30%; 
  right: 50%; 
  width: 100px; 
  height: 100px; 
  transform: scale(0.5);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../icon/subject.png'); /* 設置按鈕圖片 */
  cursor: pointer;
  border: none; /* 移除按鈕邊框 */
}

#capture_button:active{
  transform: scale(0.8);
}

#reset {
  position: absolute;
  top: 10px; /* 距離上方 10px */
  right: 50px; /* 距離右方 10px */
  width: 100px; /* 按鈕寬度 */
  height: 100px; /* 按鈕高度 */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../icon/reset.png'); /* 設置按鈕圖片 */
  cursor: pointer;
  border: none; /* 移除按鈕邊框 */
}

#reset:active{
  transform: scale(0.8);
}